/* =========================
   FOOTER SECTION
========================= */

footer {
  background-color: var(--highlight);

  width: 100%;
  padding: 3rem 0;
}

.footer-logo-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row; /* always horizontal */
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  width: 162px; /* default desktop size */
  height: auto;
  object-fit: contain;
}

/* Typography */
.footer-logo-container p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.footer-logo-container h3 {
  font-size: 1.1rem;
  font-weight: bolder;
  color: #495e57;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-family: "Karla", serif;
}

/* Reset default list layouts */
.footer-logo-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-logo-container li,
.footer-logo-container address p,
.footer-logo-container a {
  font-size: 1rem;
  color: #333333;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 0.5rem;
  display: block;
}

.footer-logo-container a:hover {
  text-decoration: underline;
}

/* Sections */
.footer-logo-container section,
.footer-logo-container address {
  flex: 1;
  margin-left: 2rem;
}

/* =========================
   RESPONSIVE DESIGN
========================= */
@media (max-width: 1024px) {
  .footer-logo {
    width: 140px;
  }

  .footer-logo-container {
    padding: 0rem 2rem;
    gap: 1rem;
  }

  .footer-logo-container h3 {
    font-size: 1rem;
  }

  .footer-logo-container li,
  .footer-logo-container address p,
  .footer-logo-container a {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .footer-logo {
    width: 80px;
    margin-top: 20px;
  }

  .footer-logo-container h3 {
    font-size: 0.95rem;
  }

  .footer-logo-container li,
  .footer-logo-container address p,
  .footer-logo-container a {
    font-size: 0.9rem;
  }

  .footer-logo-container section,
  .footer-logo-container address {
    margin-left: 1rem; /* reduce spacing on small screens */
  }
}

@media (max-width: 480px) {
  .footer-logo-container {
    padding: 0rem 1.5rem;
    gap: 1rem;
  }

  .footer-logo {
    width: 40px;
  }

  .footer-logo-container h3 {
    font-size: 0.7rem;
    line-height: 1;
  }

  .footer-logo-container li,
  .footer-logo-container p,
  .footer-logo-container a {
    font-size: 0.6rem;
    line-height: 1;
  }

  .footer-logo-container section,
  .footer-logo-container address {
    margin-left: 0.5rem;
  }
}
