/* =========================
   HERO SECTION
========================= */

.hero {
  width: 100%;
  background-color: var(--primary-green);
  min-height: 550px;
}

.hero-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 2rem;
}

/* =========================
   CONTENT
========================= */

.hero article {
  max-width: 420px;
}

.hero article h1 {
  font-size: 4rem;
  line-height: 0.9;
  color: var(--primary-yellow);
}

.hero article h2 {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 0.75rem;
}

.hero article p {
  color: var(--white);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* =========================
   BUTTON
========================= */

.hero article button {
  width: 200px;
  height: 60px;

  border: none;
  border-radius: 16px;

  background-color: var(--primary-yellow);
  color: #333;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.hero article button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* =========================
   IMAGE
========================= */

.hero img {
  width: 350px;
  height: 406px;

  object-fit: cover;
  border-radius: 16px;

  align-self: end;
}

/* =========================
   TABLET + MOBILE
========================= */

@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .hero article {
    max-width: 500px;
  }

  .hero article button {
    margin: 0 auto;
  }

  .hero img {
    width: 100%;
    margin-bottom: 20px;
    max-width: 260px;
  }
}

/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 480px) {
  .hero-container {
    padding: 1.5rem 1rem;
  }

  .hero article h1 {
    font-size: 2.5rem;
  }

  .hero article h2 {
    font-size: 1.5rem;
  }

  .hero article p {
    font-size: 1rem;
  }

  .hero article button {
    width: 100%;
    max-width: 250px;
    height: 52px;
  }

  .hero img {
    width: 60%;
    margin-bottom: 20px;
    max-width: 260px;
  }
}

@media (max-width: 360px) {
  .hero article h1 {
    font-size: 2rem;
  }
  .hero article h2 {
    font-size: 1.25rem;
  }
  .hero article p {
    font-size: 0.95rem;
  }
}
